volumes:
  pgadmin-vol:
  pgsql-vol:

services:
  pgadmin:
    image: dpage/pgadmin4:7.1
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_PASSWORD: pwd
      PGADMIN_DEFAULT_EMAIL: yacine.touati.pro@gmail.com
      PGADMIN_LISTEN_PORT: 8080
    ports:
      - 8081:8080
    volumes:
      - pgadmin-vol:/var/lib/pgadmin

  pgsql:
    image: postgres:15.1
    restart: always
    environment:
      POSTGRES_DB: api
      POSTGRES_PASSWORD: pwd
      POSTGRES_USER: usr
    volumes:
      - pgsql-vol:/var/lib/postgresql/data
    ports:
      - 5432:5432

  swagger:
    image: swaggerapi/swagger-editor:v4.9.2
    ports:
      - 8082:8080