name: CICD

on:
  push:
    branches: ["main", "dev/open-api-spec"]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Jest tests
    steps:
      - uses: actions/checkout@v3
      - name: test with jest
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm ci
      - run: npm run test

  # build-and-deploy:
  #   needs: test
  #   runs-on: ubuntu-latest
  #   name: Build app' and deploy to GCP
  #   environment: live
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: set up node
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: 18
  #     - run: npm ci
  #     - run: npm run build
  #     - id: "auth-to-gcp"
  #       uses: "google-github-actions/auth@v1"
  #       with:
  #         credentials_json: "${{ secrets.CLOUD_RUN_DEPLOYER_SA_KEY }}"
  #     - name: "set up Google Cloud SDK"
  #       uses: "google-github-actions/setup-gcloud@v1"
  #     - name: "deploy from source"
  #       run: |
  #         gcloud run deploy ${{ secrets.CLOUDRUN_SERVICE }} \
  #           --source=./ --region=${{ secrets.CLOUDRUN_SERVICE_REGION }} --port=${{ secrets.CLOUDRUN_SERVICE_PORT }} \
  #           --update-secrets=${{ secrets.BUCKET_VIEWER_SA_KEY_FILE_NAME }}=BUCKET_VIEWER_SA_KEY:latest,${{ secrets.SUPABASE_POSTGRES_ROOT_CERT_FILE_NAME }}=SUPABASE_POSTGRES_ROOT_CERT:latest,${{ secrets.PUBSUB_PUBLISHER_SA_KEY_FILE_NAME }}=PUBSUB_PUBLISHER_SA_KEY:latest \
  #           --set-env-vars=BUCKET_VIEWER_SA_KEY_FILE_NAME=${{ secrets.BUCKET_VIEWER_SA_KEY_FILE_NAME }},NODE_ENV=production,BLOG_POSTS_BUCKET=${{ secrets.BLOG_POSTS_BUCKET }},SUPABASE_POSTGRES_ROOT_CERT_FILE_NAME=${{ secrets.SUPABASE_POSTGRES_ROOT_CERT_FILE_NAME }},PGHOST=${{ secrets.PGHOST }},PGPASSWORD=${{ secrets.PGPASSWORD }},PGPORT=${{ secrets.PGPORT }},PGSSLMODE=require,PGUSER=${{ secrets.PGUSER }},PGDATABASE=${{ secrets.PGDATABASE }},JWT_SECRET=${{ secrets.JWT_SECRET }},PUBSUB_USERS_TOPIC=${{ secrets.PUBSUB_USERS_TOPIC }},PUBSUB_PUBLISHER_SA_KEY_FILE_NAME=${{ secrets.PUBSUB_PUBLISHER_SA_KEY_FILE_NAME }},IMAGES_BUCKET=${{ secrets.IMAGES_BUCKET }},IMAGES_BUCKET_PREFIX=${{ secrets.IMAGES_BUCKET_PREFIX }} \
  #           --allow-unauthenticated
